SPOTIFY_REDIRECT_URI=http://127.0.0.1:8888/callback
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

SPOTIFY_PLAYLIST_ID=
SPOTIFY_PLAYLIST_IDS=

OLLAMA_MODEL=llama3.1:8b

AUDIO_DB_API=https://www.theaudiodb.com/api/v1/json/123/search.php
