# Archivos de compilación de Python
*.pyc
*.pyo
__pycache__/

# Archivos de entorno virtual
venv/
env/

# Archivos de distribución
*.egg
*.egg-info/
dist/
build/

# Archivos de caché de pip
pip-log.txt
pip-delete-this-directory.txt

# Archivos de caché de pruebas (si usas pytest u otros)
.cache/

# Archivos temporales de editores (como vim, emacs, etc.)
*~
*.swp

*.log
.cache

.env*
!.env.example

prompts.json
!prompts.json.example
